@{
    ViewBag.Title = "Home Page";
}

<div class="row main-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img class="img-responsive" src="/Content/images/Index/1.png">
        <a>Safety consult engineering</a>
    </div>
</div>
<div class="row second-section">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block first-block"><i class="fa fa-car fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block second-block"><i class="fa fa-male fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block third-block"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
    </div>
</div>

<div class="row third-section">
    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h3>Заголовок 1</h3>
        <p>
            аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок
        </p>
        <a >Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h3>Заголовок 2</h3>
        <p>
            аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок
        </p>
        <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h3>Заголовок 2</h3>
        <p>
            аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок аголовок
        </p>
        <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
