@{
    ViewBag.Title = "Home Page";
}

<div class="row main-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img class="img-responsive" src="/Content/images/Index/1.png">
        <a>Safety consult engineering</a>
    </div>
</div>
<div class="row second-section">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block first-block"><i class="fa fa-car fa-3x" aria-hidden="true"></i></a>
            <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 third-section">
                <h3>Аутсорсинг</h3>
                <p>
                    Оказываем услуги аутсорсинга в области охраны труда, промышленной безопасности, пожарной безопасности, промышленной санитарии, гражданской обороны
                </p>
                <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block second-block"><i class="fa fa-male fa-3x" aria-hidden="true"></i></a>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 third-section">
            <h3>Консультация</h3>
            <p>
                Проконсультируем по вопросам в области охраны труда, промышленной безопасности, пожарной безопасности, промышленной санитарии, гражданской обороны.
            </p>
            <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block third-block"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12  third-section">
            <h3>Под ключ</h3>
            <p>
                Организуем охрану труда на вашем предприятии под ключ.
            </p>
            <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div class="row second-section">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block first-block"><i class="fa fa-car fa-3x" aria-hidden="true"></i></a>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12  third-section">
            <h3>СУОТ</h3>
            <p>
                Разработаем и проведем аудит СУОТ.
            </p>
            <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block second-block"><i class="fa fa-male fa-3x" aria-hidden="true"></i></a>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12  third-section">
            <h3>Риски</h3>
            <p>
                Осуществим идентификацию и расчет рисков
            </p>
            <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a class="color-block third-block"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 third-section">
            <h3>Разработка</h3>
            <p>
                Разработаем конструкторскую документацию любой сложности.
                Окажем помощь в проектировании и конструировании (ППР, ППРК, КМ, КМД и другое) .
            </p>
            <a>Перейти <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div class="row command-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Наша комманда</h2>
        <p>
            Цель нашей команды в первую очередь заключается в помощи по обеспечению безопасных условий труда на вашем предприятии, сохранности здоровья и жизни ваших работников, экономия вашего времени и средств.
            Предоставьте охрану труда профессионалам!
        </p>
        <a  class="btn btn-default">Оставить заявку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
</div>