
@{
    ViewBag.Title = "Конструкторская документация";
}
<div class="outsourc">
    <h1>ЧТО ТАКОЕ КД?</h1>

    <p>
        <b>Конструкторская документация (КД)</b> — графические и текстовые документы, которые, в совокупности или в отдельности, определяют состав и устройство изделия и содержат необходимые данные для его разработки, изготовления, контроля, эксплуатации, ремонта и утилизации.
    </p>
    <h1>ЧТО ТАКОЕ КМД?</h1>
    <p>
        <b>КМД</b> - это деталировочные чертежи конструкций из металла. Основой для их разработки являются чертежи КМ (металлические конструкции). Чтобы верно сделать конструкции и точно их установить, необходимы чертежи КМД.
    </p>
<h2>
    НУЖНЫ ЛИ ЧЕРТЕЖИ КМД СБОРЩИКАМ?
</h2>
<p>
    Если сборщик возьмет чертежи марки КМ, он увидит на них только все в общих чертах, основные узлы. Сборщику будет очень трудно сделать конструкцию подобную той, что делают на строительстве и на производстве. На заводе потребуются сборщику чертежи отдельных конструкций. Вот тут-то ему и становятся необходимы чертежи КМД. Они дают конструкцию во всех подробностях. Обязательно на чертеже показывают все подробности: привязки, размеры отверстий, особенности сварки. Монтажник без знания всего вышеперечисленного и размеров монтажа ничего не соберет. Когда проектировщик работает над схемой, его задача - отметить на схеме каждый отправочный компонент собственной маркой.
</p>

    <h2>
           ЧЕРТЕЖИ КМД НУЖНЫ МОНТАЖНИКАМ ПРИ УСТАНОВКЕ?
</h2>
    <p>
        Когда этап производства пройден, чертежи КМД востребованы монтажниками на установке. Во-первых, не имея схем монтажа, не соберешь конструкции. Во-вторых, на чертежах можно увидеть, какой крепеж необходим. В-третьих, бывает, что разрабатывая КМД, допустил ошибку проектировщик, или сборщик был невнимателен при чтении чертежа, и схема была собрана неточно. При таких обстоятельствах не смонтируется марка, где допущена ошибка. Тогда, глядя на чертеж, сборщик тотчас увидит, где допущена погрешность: либо на этапе проекта, либо при производстве.
    </p>
<p>
    В случае, когда чертежи правильные и на производстве все было сделано грамотно, то сложные металлические конструкции собираются легко и просто.
</p>
    <div class="text-center big">
        <a href="#" class="btn btn-default">Оставить заявку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
 </div>
