@{
    ViewBag.Title = "Аутсорсинг";
}
<div class="outsourc">
<h1>ЧТО ТАКОЕ АУТСОРСИНГ?</h1>

<p>
    <b>Аутсорсинг</b> (от англ. outsourcing: (outer-source-using) – использование внешнего источника и/или ресурса) – это передача организацией, на основании договора, определённых видов или функций производственной предпринимательской деятельности другой компании, действующей в нужной области. В отличие от услуг и поддержки, имеющих разовый, эпизодический или случайный характер и ограниченных началом и концом, на аутсорсинг обычно передаются функции по профессиональной поддержке бесперебойной работы отдельных систем и инфраструктуры на основе длительного контракта (не менее 1 года).
</p>
<p>Аутсорсинг позволяет повысить эффективность предприятия в целом и использовать освободившиеся организационные, финансовые и человеческие ресурсы для развития новых направлений или концентрации усилий, не требующих повышенного внимания.
По данным Института аутсорсинга (Outsourcing Institute, США), аутсорсинг является развивающимся видом оптимизации деятельности предприятий, причем наибольший рост наблюдается в сфере финансов и бухгалтерского учета. Статистика, собранная в 1997 году Американской ассоциацией управления, показала, что уже тогда 20 % из числа 600 опрошенных фирм передали на аутсорсинг хотя бы некоторую часть финансовых и бухгалтерских операций, а 80 % — часть административных функций.
</p>

<h1>ИМЕЕТ ЛИ МЕСТО БЫТЬ В РЕСПУБЛИКЕ БЕЛАРУСЬ?</h1>

<h4>Да! Согласно статье 20 Закон Республики Беларусь от 23 июня 2008 года «Об охране труда» в редакции Закона Республики Беларусь от 12 июля 2013 г. № 61-З «О внесении изменений и дополнений в Закон Республики Беларусь «Об охране труда»:</h4>
<ul>
<li>для организации работы по охране труда и осуществления контроля за соблюдением законодательства об охране труда наниматель в установленном законодательством порядке создает службу охраны труда, вводит в штат должность специалиста по охране труда или возлагает соответствующие обязанности по охране труда на уполномоченное им должностное лицо либо привлекает юридическое лицо (индивидуального предпринимателя), аккредитованное (аккредитованного) на оказание услуг в области охраны труда, в соответствии с законодательством.
</li>
    <li>
должности специалистов по охране труда в организациях производственной сферы вводятся при численности работников свыше 100 человек, в организациях других сфер деятельности – свыше 200 человек. При меньшей численности работников наниматель может вводить должность специалиста по охране труда или возлагать соответствующие обязанности по охране труда на уполномоченное им должностное лицо, имеющее необходимую подготовку. В случае невозможности исполнения обязанностей специалиста по охране труда работниками организации наниматель может привлекать юридическое лицо (индивидуального предпринимателя), аккредитованное (аккредитованного) на оказание услуг в области охраны труда, в соответствии с законодательством.
</li>

</ul>
    <div class="outs-end">
<h1>
НУЖНЫ ЛИ ВАМ АУТСОРСИНГОВЫЕ УСЛУГИ ПО ОХРАНЕ ТРУДА?
</h1>
<h3>Да, несомненно!</h3>
<p>
    Если вы небольшая, но амбициозная  организация или предприятие, и вы не имеете времени и возможности заниматься работой специалиста по охране труда.
</p>
<p>
    Если вы крупное предприятие, но ваши специалисты по охране труда требуют разовой или постоянной помощи в некоторых сферах охраны труда, промышленной безопасности, пожарной безопасности, промышленной санитарии, гражданской обороны.
</p>
<p>
    Если у вас отсутствуют обученные специалисты, которые на высоком уровне организуют охрану труда в вашей организации.
</p>
<p>
    Если вы хотите сэкономить часть расходов на выплату заработной платы специалисту по охране труда и немалых отчислений в ФСЗН и БЕЛГОССТРАХ.
</p>
<h3>Да, несомненно, вам нужен аутсорсинг!</h3>
<h3>Мы нужны вам!</h3>
    <div class="text-center big">
        <a href="#" class="btn btn-default">Оставить заявку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
    </div></div>
