
@{
    ViewBag.Title = "ППР";
}
<div class="outsourc">
    <h1>ЧТО ТАКОЕ ППР?</h1>

    <p><b>Проект производства работ (далее – ППР) </b> является дальнейшим развитием основных решений, принятых в проекте организации строительства (далее – ПОС).
    </p>
    <p>ППР разрабатывают для определения наиболее эффективных методов выполнения строительно-монтажных работ, снижения себестоимости и трудоемкости, сокращения продолжительности строительства, повышения степени использования строительных машин и оборудования, улучшения качества строительно-монтажных работ. Ведение строительства без ППР запрещается.
    </p>
       <p> ПОС и ППР должны основываться на прогрессивных инженерных решениях с учетом современного уровня индустриализации строительного производства, новых методов и форм его организации. Номенклатура и объем проектной документации, а также степень ее детализации обусловливаются характером строящегося объекта и сложностью конкретных условий.
    </p>
       <p><b>    Проект производства работ </b> представляет собой документированную модель процессов строительного производства по возведению объектов от начала подготовительных строительно-монтажных работ до сдачи объектов в эксплуатацию. Определяются виды и объемы строительно-монтажных работ по каждому объекту, последовательность и сроки их выполнения, потребность и сроки поступления на строительную площадку всех видов материально-технических ресурсов, строительных машин, рабочих кадров, а также предусматриваются рациональная технология и безопасные условия выполнения работ.
    </p>
           <p>Утвержденный ППР является основанием для оперативного планирования, контроля, регулирования и учета строительного производства. ППР разрабатывают с целью регламентации выполнения строительно-монтажных работ наиболее эффективными методами с исследованием оптимальных составов бригад рабочих, комплектов строительных механизмов и ручных машин, обеспечивающих сокращение продолжительности строительства, снижение трудоемкости, себестоимости и улучшение качества строительно-монтажных работ.
    </p>
       <p>        В ППР должно предусматриваться внедрение рациональных методов, передового опыта и научно-технических достижений в области строительного производства.
    </p>
       <p>    Принимаемые в ППР решения должны обеспечивать: сокращение трудоемкости выполнения работ за счет комплексной механизации и ручных машин; сокращение продолжительности строительства за счет максимального совмещения во времени выполнения общестроительных и специализированных работ и сокращение продолжительности выполнения каждой работы; повышение производительности труда рабочих за счет внедрения передовых методов организации рабочих мест; снижение себестоимости строительно-монтажных работ; соблюдение требований по охране труда, промышленной безопасности, производственной санитарии и пожарной безопасности.
   </p>
      <p>      ППР разрабатываются на: возведение здания, сооружения или его части (узла); сложные в выполнении отдельные виды работ; подготовительный период строительства.
    </p>
    <h3>МЫ ЗАНИМАЕМСЯ ВЫПОЛНЕНИЕМ КОНСТРУКТОРСКИХ РАБОТ НА ВСЕХ СТАДИЯХ РАЗРАБОТКИ ППР!!</h3>
    <div class="text-center big">
        <a href="#" class="btn btn-default">Оставить заявку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
</div>