@{
    ViewBag.Title = "Пожарно-технический минимум";
}
@section metaKeywords{
    <meta name="keywords" content="ПБ, пожарно технический минимум, пожарная безопастность, талон ПТМ,
          обучение ПТМ, программа ПТМ, занятия по ПТМ, в РБ,
           safety consulting engineering, sce" />
}
@section metaDescription{
    <meta name="description" content="Обучение по пожарно-техничкому минимуму в РБ" />
}
<div class="seng ptm">
    <h1>ЧТО ТАКОЕ ПТМ?</h1>

    <p>
        <b>ПОЖАРНО-ТЕХНИЧЕСКИЙ МИНИМУМ (ПТМ )</b> – система знаний, умений и навыков, позволяющая работнику организации обеспечивать пожарную безопасность в рамках осуществления деятельности по занимаемой должности (профессии), в том числе при проведении работ повышенной опасности без специального образования в данной области.я
    </p>
    <p>
        Подготовка по программе ПТМ проводится с целью повышения общих технических знаний по пожарной безопасности работников организации и структурных подразделений с повышенной пожарной опасностью, ознакомления их с правилами пожарной безопасности, а также для более детального изучения работающими порядка использования имеющихся первичных средств пожаротушения и технических средств противопожарной защиты.
    </p>
    <h1>КТО ПОДЛЕЖИТ ОБУЧЕНИЮ ПО ПРОГРАММЕ ПТМ?</h1>
    <ul>
        <li>
            работники, ответственные за обеспечение пожарной безопасности в организации;
        </li>
        <li>
            работники, на которых возложены обязанности по проведению противопожарных инструктажей;
        </li>
        <li>
            работники, осуществляющие эксплуатацию агрегатов, аппаратов и устройств, работающих на газообразном, жидком, твердом или смешанном виде топлива;
        </li>
        <li>
            работники, ответственные за подготовку и (или) проведение огневых работ;
        </li>
        <li>
            работники, ответственные за подготовку и (или) проведение огневых работ;
        </li>
        <li>
            работники - исполнители огневых работ;
        </li>
        <li>
            работники, профессиональная деятельность (работа по должности) которых связана с хранением, перемещением, применением ГГ, ЛВЖ, ГЖ, горючих пылей, твердых легковоспламеняющихся веществ и материалов;
        </li>
        <li>
            лица, привлекаемые к уборке урожая зерновых культур, заготовке и складированию грубых кормов;
        </li>
        <li>
            члены ДПД, ДПК, ПТК.
        </li>
    </ul>

    <h3>Мы обучим Ваших работников по прогамме ПТМ!</h3>
    <div class="text-center big">
        <a href="#" class="btn btn-default send-mail">Оставить заявку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
</div>

