
@{
    ViewBag.Title = "Охрана труда";
}
<div class="seng">
<h1>ЧТО ТАКОЕ ОХРАНА ТРУДА?</h1>
<p><b>
Согласно статье 221 ТК и статье 1 Закона Республики Беларусь от 23 июня 2008 года № 356-3 «Об охране труда» (в редакции от 12 июля 2013 года № 61-3):
</b></p>
<p><b>Охрана труда</b> - это система обеспечения безопасности жизни и здоровья работников (работающих) в процессе трудовой деятельности, включающая правовые, социально-экономические, организационные, технические, психофизиологические, санитарно-противоэпидемические, лечебно-профилактические, реабилитационные и иные мероприятия и средства.
</p>
<p>Соблюдение конституционного права работников на здоровые и безопасные условия труда обеспечивается осуществлением политики в области охраны труда, а также осуществлением политики в области охраны труда на уровне организаций.
</p><p><b>Обеспечение охраны труда имеет большое социально-экономическое значение.</b></p>
<p>Известно, что неудовлетворенность работника условиями труда приводить к текучести кадров со всеми вытекающими отрицательными последствиями как для самого работника, так и для предприятия. Неудовлетворительные условия труда приводят к тому, что часть работников вынуждена заканчивать свою трудовую деятельность ранее общеустановленного пенсионного возраста либо менять свою профессию и место работы по указанной причине.
</p>
    <p>
Также общеизвестно, что условия труда в значительной степени влияют на производительность труда. При благоприятных условиях труда работник не затрачивает сил на защиту организма от воздействия опасных и вредных производственных факторов производственной среды и трудового процесса. Имеются данные о том, что рациональный комплекс мероприятий, направленных на улучшение условий труда, может обеспечить прирост производительности труда на 6–25 и более процентов. Солнечное освещение увеличивает производительность труда на 10 процентов, рациональное искусственное освещение - на 6–13 процентов, при этом в некоторых производствах происходит сокращение брака, достигающее 25 процентов.
</p>
    <p>
Правильная организация рабочего места увеличивает производительность труда до 20 процентов, продуманное использование музыки - на 12–14 процентов, рациональная окраска помещений – на 25 процентов. В то же время производственный шум, превышающий допустимые пределы, может снизить производительность труда на 20 процентов. Установлено, что если работоспособность при 18-20 °С принять за 100 процентов, то при 30 °С она составит всего 60 процентов.
</p>
    <p>
Недостатки, упущения в работе по созданию надлежащих условий труда, нарушения требований охраны труда приводят к травматизму на производстве, профессиональной заболеваемости, необходимости производить дополнительные затраты на выплату компенсаций работникам по условиям труда. Особенно пагубно на экономику предприятия влияют случаи травматизма на производстве и профессиональных заболеваний со смертельным и тяжелым исходом. По некоторым оценкам, каждое такое повреждение здоровья работника измеряется для общества денежной суммой, эквивалентной 75 тыс. долларов США.
</p>
    <p>
По оценкам Международной организации труда, из-за несчастных случаев, чрезвычайных происшествий, производственных потерь и ущерба, наносимого собственности, теряется более 4 процентов валового национального продукта.
</p>
    <p>
В то же время опыт североамериканских стран показывает, что каждый доллар, направленный на улучшение условий и обеспечение охраны на производстве, дает прибыль в размере около 2,6 доллара США.
        </p>

<h1>ЧТО МЫ ПОДРАЗУМЕВАЕМ,  ГОВОРЯ ОБ ОХРАНЕ ТРУДА ПОД КЛЮЧ?</h1>
<p><b>Создание пакета документов, осуществление контроля, реализации следующих направлений:</b></p>
<ul>
    <li>  Управление охраной труда в организации.
    </li>
    <li>  Система управления охраной труда

    </li>
    <li>
        Дополнительная документация, ведение которой прописано СТБ 18001-2009
</li>
    <li>
        Внутренний трудовой распорядок, организация, планирование, контроль, отчетность
</li>
    <li>
        Организация обучения, стажировки, инструктажа и проверки знаний по вопросам охраны труда
</li>
    <li>
        Пожарная безопасность
</li>
    <li>
        Электробезопасность
</li>
    <li>
        Промышленная безопасность
</li>
    <li>
        Паровые и водогрейные котлы
</li>
    <li>
        Теплоиспользующие установки и тепловые сети
</li>
    <li>
        Трубопроводы пара и горячей воды
</li>
    <li>
        Сосуды, работающие под избыточным давлением
</li>
    <li>
        Грузоподъемные машины
</li>
    <li>
        Лифты и строительные грузопассажирские подъемники
</li>
    <li>
        Мобильные подъемные рабочие платформы и строительные подъемники
</li>
    <li>
        Эксплуатация, автомобильного транспорта
</li>
    <li>
        Перевозка опасных грузов автомобильным транспортом
</li>
    <li>
        Эксплуатация зданий и сооружений
</li>
    <li>
        Содержание территорий организации
</li>
    <li>
        Требования к строительным работам
</li>
    <li>
        Требования к огневым работам
</li>
    <li>
        Требования к газоопасным работам
</li>
    <li>
        Работа на высоте
</li>
    <li>
        Оборудование, инструмент, инвентарь и приспособления
</li>
    <li>
        Производственное освещение
</li>
    <li>
        Вентиляция и кондиционирование воздуха
</li>
    <li>
        Средства индивидуальной и коллективной защиты
</li>
    <li>
        Медицинские, осмотры, освидетельствования, аптечки
</li>
    <li>
        Расследование и учет аварий и инцидентов на производственных объектах,  несчастных случаев и профессиональных заболеваний
    </li>
</ul>
    <div class="text-center big">
        <h3><b>МЫ ЗАЙМЕМСЯ ВАШЕЙ ОХРАНОЙ ТРУДА!</b></h3>
        <a href="#" class="btn btn-default send-mail">Оставить заявку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
</div>
