@model dynamic

<div class="services-page">
    <h1>Услуги</h1>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Охрана труда</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ПОЖ</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Конструирование</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Баламуть</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
            Охрана труда   Охрана труда   Охрана труда   Охрана труда
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
            ПОЖ ПОЖ ПОЖ ПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖПОЖ ПОЖ ПОЖ
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">x...</div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>
</div>

        
