
@{
    ViewBag.Title = "СОУТ в РБ";
}
@section metaKeywords{
    <meta name="keywords" content="охрана труда, защита населения, гражданская оборона,
       аутсорсинг ОТ ГО ПБ, ОТ, ПБ, ГО, разработка ППР КД КМД в Беларуси,
       СУОТ в РБ, пожарно технический минимум, расчет категорий помещений по пожарной опасности,
       разработка проект производства работ технической документации конструкторской документации
      консультации по хране труда, safety consulting engineering, sce" />
}
@section metaDescription{
    <meta name="description" content="Safety consulting engineering (разработка технической
      документации в Республике Беларусь) - помощь по обеспечению безопасных условий труда
       на вашем предприятии, помощь в сохранности здоровья и жизни ваших работников,
       экономия вашего времени и средств.
Качественно разработаем проектную документацию.
Предоставьте охрану труда и проектирование профессионалам!" />
}
<div class="seng">
    <h1>ЧТО ТАКОЕ СУОТ?</h1>

    <p>
        <b>СИСТЕМА УПРАВЛЕНИЯ ОХРАНОЙ ТРУДА (СУОТ)</b> – это часть системы управления организации, предназначенная для реализации политики в области охраны труда организации, а также управления рисками.
    </p> 
    <p>СУОТ представляет собой комплекс взаимосвязанных элементов (планирование, ответственность, технологии, процедуры, процессы и ресурсы), направленных на реализацию политики и целей в специальной области - охрана труда.
    </p>
       <p> Другими словами, СУОТ – это регламентированная законодательством совокупность организационных, технических, гигиенических, лечебно-профилактических и социально-экономических мероприятий, методов и средств управления, направленных на организацию деятельности по обеспечению безопасности, сохранению жизни, здоровья и работоспособности человека в процессе труда, включающих в себя выявление производственных опасностей, оценку рисков гибели и травмирования работников, разработку и реализацию эффективных мер по их снижению, а также осуществление постоянного мониторинга и измерение результативности в области охраны труда.
    </p>
    <h1>НУЖЕН ЛИ ВАМ СУОТ?</h1>

    <h3><b>Обязательно!</b></h3>
    <p><b>В соответствии со статьей 17 Закона Республики Беларусь «Об охране труда» предусмотрена обязанность каждого работодателя независимо от осуществляемого им вида деятельности разработать и внедрить  у себя систему управления охраной труда.
    </b></p>
       <p> Особенно уделяется внимание организациям работающим в строительной сфере.
    </p>
       <p>    В соответствии с Правилами заключения и исполнения договоров строительного подряда, утвержденные постановлением Совета Министров Республики Беларусь №1450 от 15.09.1998г., отсутствие у подрядчика системы управления охраной труда не дает ему права заключать договор строительного подряда, в противном случае такой договор может быть признан недействительным.
    </p>
   <h1> ЧТО ПРЕДСТАВЛЯЕТ СОБОЙ СУОТ?</h1>

    <p><b>СУОТ не является ни удостоверениями по охране труда, ни инструкциями по охране труда.</b></p>
  <p>  СУОТ представляет собой как минимум 13 взаимосвязанных процедур, разработанных на основании государственного стандарта Республики Беларусь СТБ 18001-2009 «Системы управления охраной труда. Требования», а  также около 200 нормативных правовых актов.
    </p>
      <p><b>В частности, в организации должны быть разработаны и документально оформлены следующие процедуры охраны труда:</b></p>
    <ul>
        <li>идентификация, получение информации, содержащей законодательные и иные обязательные требования, и обеспечение доступа к законодательным и другим применяемым к организации требованиям в области охраны труда;
        </li>
        <li>
            идентификация опасностей, оценка рисков и мер управления рисками;
        </li>
        <li>
            установление целей и программ(ы) достижения целей в области охраны труда;
        </li>
        <li>
            определение компетентности, обеспечение обучения и осведомленности персонала в области охраны труда;
        </li>
        <li>
            обмен информацией, участие и консультирование работников и иных заинтересованных лиц в области охраны труда;
        </li>
        <li>
            управление всеми видами документов и данными по охране труда;
        </li>
        <li>
            идентификация возможных аварийных ситуаций и ответных действий;
        </li>
        <li>
            осуществление мониторинга и оценка результативности в области охраны труда;
        </li>
        <li>
            оценка соответствия законодательным и другим требованиям, взятым на себя предприятием в области охраны труда;
        </li>
        <li>
            расследование несчастных случаев на производстве, профессиональных заболеваний и анализ аварийных ситуаций, несоответствия, корректирующие и предупреждающие действия;
        </li>
        <li>
            управление записями;
        </li>
        <li>
            проведение внутренних аудитов СУОТ;
        </li>
        <li>
            проведение анализа со стороны руководства.
        </li>
        <li>
            cоздание и внедрение СУОТ в организации проходит ряд стадий:
        </li>
        <li>
            аудит, анализ действующей в организации СУОТ;
        </li>
        <li>
            разработка (корректировка существующей) СУОТ;
        </li>
        <li>
            внедрение разработанной СУОТ;
        </li>
        <li>
            проведение самооценки и самодекларирования СУОТ либо проведение сертификации СУОТ внешней организацией;
        </li>
        <li>
            контроль состояния условий и охраны труда и функционирования СУОТ в организации;
        </li>
        <li>  анализ состояния условий и охраны труда в организации.
        </li>
</ul>
    
    <p>Разработанная и внедренная в организации система управления охраной труда позволяет выявлять производственные опасности, давать оценку рискам гибели и травмирования работников, а также разрабатывать и реализовывать эффективные меры по их снижению.
    </p>
    <div class="text-center big">
        <a href="#" class="btn btn-default send-mail">Оставить заявку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
    </div>