@{ 
    ViewBag.Title = "Видеоматериал";
}
<div class="outsourc">
    <h1>Видеоматериал</h1>
    <div class="row">

            <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/mMGh35OMI" allowfullscreen="" frameborder="0"></iframe>
                </div>
            </div>
            <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yej9nXMwWdg" allowfullscreen="" frameborder="0"></iframe>
                </div>
            </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yej9nXMwWdg" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yej9nXMwWdg" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yej9nXMwWdg" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yej9nXMwWdg" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yej9nXMwWdg" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
</div>
</div>