@{ 
    ViewBag.Title = "Видеоматериал";
}
<div class="outsourc">
    <h1>Видеоматериал</h1>
    <div class="row">

            <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zFybXybWysU" allowfullscreen="" frameborder="0"></iframe>
                </div>
            </div>
            <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dGdwTVnm1Sw" allowfullscreen="" frameborder="0"></iframe>
                </div>
            </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/orYRokAxwys" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CIrulqJBn5k" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pASGB2qHly0" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-bOPzRmDx1M" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nCRQNSmlzs8" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
</div>
</div>