
@{
    ViewBag.Title = "Консультирование";
}
<div class="outsourc">
    <h1>МЫ ПРОКОНСУЛЬТИРУЕМ ВАС ПО СЛЕДУЮЩИМ НАПРАВЛЕНИЯМ:</h1>
    <ul>
        <li>Управление охраной труда в организации</li>
        <ul>
            <li>
                Система управления охраной труда
            </li>
            <li>
                Дополнительная документация, ведение которой прописано СТБ 18001-2009
            </li>
        </ul>
        <li>
            Внутренний трудовой распорядок, организация, планирование, контроль, отчетность
        </li>
        <li>
            Организация обучения, стажировки, инструктажа и проверки знаний по вопросам охраны труда
        </li>
        <li>
            Пожарная безопасность
        </li>
        <li>
            Электробезопасность
        </li>
        <li>
            Промышленная безопасность
        </li>
        <ul>
        <li>
            Паровые и водогрейные котлы
        </li>
        <li>
            Теплоиспользующие установки и тепловые сети
        </li>
        <li>
            Трубопроводы пара и горячей воды
        </li>
        <li>
            Сосуды, работающие под избыточным давлением
        </li>
        <li>
            Грузоподъемные машины
        </li>
        <li>
            Лифты и строительные грузопассажирские подъемники
        </li>
        <li>
            Мобильные подъемные рабочие платформы и строительные подъемники
        </li>
            </ul>
        <li>
            Эксплуатация, автомобильного транспорта
        </li>
        <li>
            Перевозка опасных грузов автомобильным транспортом
        </li>
        <li>
            Эксплуатация зданий и сооружений
        </li>
        <li>
            Содержание территорий организации
        </li>
        <li>
            Требования к строительным работам
        </li>
        <li>
            Требования к огневым работам
        </li>
        <li>
            Требования к газоопасным работам
        </li>
        <li>
            Работа на высоте
        </li>
        <li>
            Оборудование, инструмент, инвентарь и приспособления
        </li>
        <li>
            Производственное освещение
        </li>
        <li>
            Вентиляция и кондиционирование воздуха
        </li>
        <li>
            Средства индивидуальной и коллективной защиты
        </li>
        <li>
            Медицинские, осмотры, освидетельствования, аптечки
        </li>
        <li>
            Расследование и учет аварий и инцидентов на производственных объектах,  несчастных случаев и профессиональных заболеваний
        </li>
    </ul>
</div>

