
@{
    ViewBag.Title = "Консультирование по охране труда и др. в РБ";
}
@section metaKeywords{
    <meta name="keywords" content="охрана труда, защита населения, гражданская оборона,
       аутсорсинг ОТ ГО ПБ, ОТ, ПБ, ГО, разработка ППР КД КМД в Беларуси,
       СУОТ в РБ, пожарно технический минимум, расчет категорий помещений по пожарной опасности,
       разработка проект производства работ технической документации конструкторской документации
      консультации по хране труда, safety consulting engineering, sce" />
}
@section metaDescription{
    <meta name="description" content="Safety consulting engineering (разработка технической
      документации в Республике Беларусь) - помощь по обеспечению безопасных условий труда
       на вашем предприятии, помощь в сохранности здоровья и жизни ваших работников,
       экономия вашего времени и средств.
Качественно разработаем проектную документацию.
Предоставьте охрану труда и проектирование профессионалам!" />
}

<div class="outsourc">
    <h1>МЫ ПРОКОНСУЛЬТИРУЕМ ВАС ПО СЛЕДУЮЩИМ НАПРАВЛЕНИЯМ:</h1>
    <ul>
        <li>Управление охраной труда в организации</li>
        <ul>
            <li>
                Система управления охраной труда
            </li>
            <li>
                Дополнительная документация, ведение которой прописано СТБ 18001-2009
            </li>
        </ul>
        <li>
            Внутренний трудовой распорядок, организация, планирование, контроль, отчетность
        </li>
        <li>
            Организация обучения, стажировки, инструктажа и проверки знаний по вопросам охраны труда
        </li>
        <li>
            Пожарная безопасность
        </li>
        <li>
            Электробезопасность
        </li>
        <li>
            Промышленная безопасность
        </li>
        <ul>
        <li>
            Паровые и водогрейные котлы
        </li>
        <li>
            Теплоиспользующие установки и тепловые сети
        </li>
        <li>
            Трубопроводы пара и горячей воды
        </li>
        <li>
            Сосуды, работающие под избыточным давлением
        </li>
        <li>
            Грузоподъемные машины
        </li>
        <li>
            Лифты и строительные грузопассажирские подъемники
        </li>
        <li>
            Мобильные подъемные рабочие платформы и строительные подъемники
        </li>
            </ul>
        <li>
            Эксплуатация, автомобильного транспорта
        </li>
        <li>
            Перевозка опасных грузов автомобильным транспортом
        </li>
        <li>
            Эксплуатация зданий и сооружений
        </li>
        <li>
            Содержание территорий организации
        </li>
        <li>
            Требования к строительным работам
        </li>
        <li>
            Требования к огневым работам
        </li>
        <li>
            Требования к газоопасным работам
        </li>
        <li>
            Работа на высоте
        </li>
        <li>
            Оборудование, инструмент, инвентарь и приспособления
        </li>
        <li>
            Производственное освещение
        </li>
        <li>
            Вентиляция и кондиционирование воздуха
        </li>
        <li>
            Средства индивидуальной и коллективной защиты
        </li>
        <li>
            Медицинские, осмотры, освидетельствования, аптечки
        </li>
        <li>
            Расследование и учет аварий и инцидентов на производственных объектах,  несчастных случаев и профессиональных заболеваний
        </li>
    </ul>
    <h3>Задайте нам вопрос:</h3>
        <form class="form-horizontal sendMailTo">
            <div class="form-group">
                <label for="name" class="col-sm-12 col-xs-12 col-md-2 col-lg-2 control-label">Имя</label>
                <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
                    <input type="text" name="name" class="form-control" required placeholder="Имя">
                </div>
            </div>
            <div class="form-group">
                <label for="mail" class="col-sm-12 col-xs-12 col-md-2 col-lg-2 control-label">Email</label>
                <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
                    <input type="email" class="form-control" name="mail" required placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-12 col-xs-12 col-md-2 col-lg-2 control-label">Сообщение</label>
                <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
                    <textarea  rows="5" class="form-control" name="message" required placeholder="Сообщение"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Отправить <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>

